@font-face{
	font-family: 'NeueMontreal';
	src: url('montreal/NeueMontreal-Bold.woff') format('woff'),
		url('NeueMontreal-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
    font-family: 'EditorialNew';
    src: url('editorial/EditorialNew-Italic.woff') format('woff'),
        url('EditorialNew-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
.dropdownone:hover .dropdown-content {
      display: block;
}
.dropdowntwo:hover .dropdown-content {
    display: block;
}
.dropdownthree:hover .dropdown-content {
    display: block;
}
.dropdownfour:hover .dropdown-content {
    display: block;
}
.dropdownfive:hover .dropdown-content {
    display: block;
}


/* MAYA ON MONDAY */
.secondcontainer { 
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: left;
   padding-left: 1rem;
    
}

.box {
    justify-content: center;
    border-style: solid;
    padding: .4em;
    font-size: 3em;
    background-color: white;
    margin-bottom: .1em;
    margin-right: .3em;
}

/* 
.box5 {
    display: none;
}
.box6 {
    display: none;
}
.box7 {
    display: none;
}
.box8 {
    display: none;
} */
/* MAYA ON MONDAY */




body{
    background-color: #C4C4C4;
    cursor: url('images/bigmouse.png'), auto;
}
.title{
    margin-top: 15px;
    font-size: 10em;
}
img{
    margin-left: 3%;
    border: .3rem solid  black;
    margin-bottom: 50px;
    margin-top: -50px;
}
.filter{
    font-family: NeueMontreal;
    justify-content: center;
    font-size: 1.2em;
    margin-top: -110px;
    margin-bottom: 80px;
    /* padding: 1rem; */
    
}
h1{
    margin-top: -100px;
    font-family: NeueMontreal;
    cursor: url('images/bigmouse.png'), auto;
    font-family: NeueMontreal;
    font-size: 5em;
    padding: 1rem;
    line-height: .98em;
}
h2{
    font-family: EditorialNew;
    font-size: 4em;
    line-height: 1.3em;
    width: 80%;
    margin-top: -40px;
    margin-left: 3%;

}
.sneaker-container{

    padding: 1rem;
    /* border: 1px solid black; */
    display: grid;
    /* grid-gap: 2rem;
    grid-template-columns: 1fr 1fr; */
}
.sneaker-image{
    width: 70%;
    height: auto;
    display: none; 
}
.sneaker-image.active{
    display: block;
}
/* .sneaker-image:hover{
    opacity: 1;
} */
.man:hover + .sneaker-image{
    display: block;
   }
.woman:hover + .sneaker-image{
    display: block;
   }
.sneaker-description{
    display: none;
}
.sneaker-description.active{
    display: block;
}
.sneaker-designer{
    display: none;
}
.sneaker-designer.active{
    display: block;
}
.sneaker-retail{
    display: none;
}
.sneaker-retail.active{
    display: block;
}
.sneaker-resale{
    display: none;
}
.sneaker-resale.active{
    display: block;
}
.sneaker-audience{
    display: none;
}
.sneaker-audience.active{
    display: block;
}
.sneaker-date{
    display: none;
}
.sneaker-date.active{
    display: block;
}
.sneaker-drop{
    display: none;
}
.sneaker-drop.active{
    display: block;
}
.sneaker-style{
    display: none;
}
.sneaker-style.active{
    display: block;
}
.sneaker-color{
    display: none;
}
.sneaker-color.active{
    display: block;
}
.man:hover{
    color: #0070D8;
}
.woman:hover{
    color: #FF8080;
}
.sneaker-title:hover{
    font-family: EditorialNew;
}
.label{
    font-family: NeueMontreal;
}
@media screen and (max-width: 768px) {
h1{
    font-size: 23px;
    padding-top: 92px;
    margin-bottom: -25px;
    
}
h2{
    font-family: EditorialNew;
    font-size: 15px;
    line-height: 20px;
    width: 80%;
    margin-left: 3%;

}
.filter{
    font-family: NeueMontreal;
    justify-content: left;
    font-size: 5px;
    /* margin-top: -110px; */
    /* margin-bottom: 80px; */
    /* padding: 1rem; */
    
}
.sneaker-container{

    /* padding: 1rem; */
    border: 3px solid black;
    background-color: white;
    /* display: grid; */
    margin-top: 5px;
 
    /* grid-gap: 2rem;
    grid-template-columns: 1fr 1fr; */
}
.title{
    font-size: 43px;
    text-align: left;
    margin-top: -90px;;
    max-width: 90%;
}
img{
    margin-top: 15px;;
}
.sneaker-description{
    display: none;
    margin-top: -10px;
}
.sneaker-description.active{
    display: block;
}
.sneaker-designer{
    display: none;
}
.sneaker-designer.active{
    display: block;
}
.sneaker-retail{
    display: none;
    margin-top: -10px;
}
.sneaker-retail.active{
    display: block;
    margin-top: -10px;
}
.sneaker-resale{
    display: none;
    margin-top: -10px;
}
.sneaker-resale.active{
    display: block;
    margin-top: -10px;
}
.sneaker-audience{
    display: none;
    margin-top: -10px;
}
.sneaker-audience.active{
    display: block;
    margin-top: -10px;
}
.sneaker-date{
    display: none;
    margin-top: -10px;
}
.sneaker-date.active{
    display: block;
    margin-top: -10px;
}
.sneaker-drop{
    display: none;
    margin-top: -10px;
}
.sneaker-drop.active{
    display: block;
    margin-top: -10px;
}
.sneaker-style{
    display: none;
    margin-top: -10px;
}
.sneaker-style.active{
    display: block;
    margin-top: -10px;
}
.sneaker-color{
    display: none;
    margin-top: -10px;
}
.sneaker-color.active{
    display: block;
    margin-top: -10px;
}
.secondcontainer { 
    margin-top: 100px;
    margin-bottom: -70px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: left;
    padding-left: .1rem;
     
 }
 .dropdownone:hover .dropdown-content {
    display: block;
}
.dropdowntwo:hover .dropdown-content {
  display: block;
}
.dropdownthree:hover .dropdown-content {
  display: block;
}
.dropdownfour:hover .dropdown-content {
  display: block;
}
.dropdownfive:hover .dropdown-content {
  display: block;
}
}
/* .man:hover + .sneaker-image{
    display: block;
   }
.woman:hover + .sneaker-image{
    display: block;
   } */
   /*  
   //!important

   //Bohle000@newschool.edu


   @media screen and (max-width: 768px) {

   }
